<h1>Users</h1>

<table class="table table-dark">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Products</th>
    </tr>
    {{#each users}}
    <tr>
        <td>{{this.name}}</td>
        <td>{{this.surname}}</td>
        <td>{{this.age}}</td>
        <td>
            {{#each products}}
          name - {{this.name}},<br>
            price - {{this.price}} AMD,<br>
           count - {{this.count}},<br>
           description - {{this.description}}
            {{/each}}
        </td>
    </tr>
    {{/each}}
</table>